.circleRotation {
  animation: circleRotation 3s infinite;
  transform-origin: center;
}

@keyframes circleRotation {
  0%,
  50%,
  100% {
    transform: rotate(0);
    color: #ffb237;
  }
  25% {
    transform: rotate(180deg);
    color: black;
  }
  75% {
    transform: rotate(-180deg);
    color: black;
  }
}

.colorChangeBlackToYellow {
  animation: colorChangeBlackToYellow 3s infinite alternate;
}

@keyframes colorChangeBlackToYellow {
  from {
    background-color: black;
  }

  to {
    background-color: #ffb237;
  }
}


.colorChangeWhiteToYellow {
  animation: colorChangeWhiteToYellow 3s infinite alternate;
}

@keyframes colorChangeWhiteToYellow {
  from {
    background-color: white;
  }

  to {
    background-color: #ffb237;
  }
}


.fullyCircle{
    animation: fullyCircle 10s infinite  forwards;
}

@keyframes fullyCircle{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.topDissapear:hover{
  animation: topDissapear 1s ease-in;
}

@keyframes topDissapear{
  0%{
      transform: translateY(0%);
  }
  80%{
    transform: translateY(-80%);
  }
  100%{
    transform: translateY(-100%);
    display: none;
  }
}

.bottomAndDisplay:hover{
  animation: bottomAndDisplay 1s forwards;
}

@keyframes bottomAndDisplay{
  0%{
      transform: translateY(0%);
      display: none;
  }
  80%{
    transform: translateY(-80%);
  }
  100%{
    transform: translateY(-100%);
    display: flex;
  }
}
